{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">
      <img src="{% static 'tenrikyoemblem.png' %}" height="60" width="60" alt="Logo">
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNav"
      aria-controls="mainNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav w-100 justify-content-around">
        <li class="nav-item mx-3"><a class="nav-link" href="#">Tsutome</a></li>
        <li class="nav-item mx-3"><a class="nav-link active" href="{% url 'news:list' %}">Noticias</a></li>
        <li class="nav-item mx-3"><a class="nav-link" href="#">Autoridades</a></li>
        <li class="nav-item mx-3"><a class="nav-link" href="#">Fukyoshos</a></li>
        <li class="nav-item mx-3"><a class="nav-link" href="#">Asociaciones</a></li>
        <li class="nav-item mx-3"><a class="nav-link" href="#">Eventos</a></li>
        <li class="nav-item mx-3"><a class="nav-link" href="#">Centro Cultural</a></li>
        <li class="nav-item mx-3"><a class="nav-link" href="#">Servicios</a></li>
        <li class="nav-item mx-3"><a class="nav-link" href="#">Galería</a></li>
        <li class="nav-item mx-3"><a class="nav-link" href="#">¿Cómo llegar?</a></li>
        <li class="nav-item mx-3"><a class="nav-link" href="#">Contacto</a></li>
      </ul>
    </div>
  </div>
</nav>
