{% extends "page_detail.html" %}
{% block content %}
<div class="container py-5">
  <div class="row g-4">
    <div class="col-lg-6">
      <h2>Sobre nosotros</h2>
      <p>Cambiar</p>
    </div>
    <div class="col-lg-6">
      <h2>Noticias</h2>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Placeholder news item 1</li>
        <li class="list-group-item">Placeholder news item 2</li>
        <li class="list-group-item">Placeholder news item 3</li>
        <li class="list-group-item">Placeholder news item 4</li>
      </ul>
    </div>
  </div>
</div>
{% endblock content %}
